* {
    box-sizing: border-box;
    margin: 0;


}

body {
    font-family: "Lobster", sans-serif;
    background: #8A5A44;

}


header {
    /* Welcome to Ligma. */
    position: absolute;
    width: 441px;
    height: 49px;
    left: 10px;
    top: 0px;

    font-family: Lobster;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;

    color: #D69F7E;
}

h1{
    /* Welcome to Ligma. */


    position: absolute;
    width: 441px;
    height: 49px;
    left: 10px;
    top: 0px;

    font-family: Lobster;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;

    color: #D69F7E;
}

h3 {
    /* This totally poggers mod menu for Grand Theft Automobile V puts Luna to Sleep. */
    position: absolute;
    width: 434px;
    height: 165px;
    left: 17px;
    top: 48px;

    font-family: Lobster;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;

    color: #EDC4B3;
}


/* Navigation */

.nav-container {
    background: #EDC4B3;
    border-radius: 50px;
    height: 44px;
    width: 600px;
    position: absolute;
    left: 50%;
    top: 52px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    height: 44px;
}

.nav-items li{

    list-style: none;
    margin-right: 50px;
    margin-left: 10px;
    margin-top: 5px;
}

/*
(For the last item in the list)
.nav-items li:nth-last-of-type(1){

    margin-right: 50px;
    margin-left: 10px;
    margin-top: 5px;
}
*/

.nav-items li a {
    color: #8A5A44;
    font-size: 25px;
    font-family: "Lobster", "sans-serif";
    text-decoration: none;
}

/* logo */
.logo-top {
    /* Ligma cheats */
    position: absolute;
    width: 239px;
    height: 147px;
    left: 37px;
    top: 0px;

}

/* main content for home page */
.hero-content{
    position: absolute;
    width: 496px;
    height: 336px;
    left: 204px;
    top: 351px;
}

.hero-image {
    position: absolute;
    width: 576px;
    height: 544px;
    left: 700px;
    top: 340px;
    margin-right: 10px;

    background: url("Homepage Images/showcase1.png");
}

.hero-elipse {
    position: absolute;
    width: 679px;
    height: 667px;
    left: 720px;
    top: 375px;
}